h3 {
    text-shadow: 1px 1px 5px rgb(245, 245, 245);
}

.unit {
    position: absolute;
    left: 9.5rem;
    top: 6.9rem;
    color: black;
    font-weight: 500;
}

.box-shadow {
    box-shadow: 5px 6px 16px black;

}

input.py-3:focus {
    outline: 1px solid black;
}